streamlit==1.32.0
crewai==0.28.8
crewai_tools==0.1.6
langchain_community==0.0.29
langchain_openai==0.0.5
python-dotenv==1.0.0
matplotlib==3.7.1
numpy==1.24.3
openai==1.68.2
certifi==2024.2.2
requests==2.31.0
urllib3==2.2.0
streamlit==1.32.0